


.container {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
}
/**----------------MOB------------------------*/
@media screen and (max-width: 427px) {
    
    .menu-soc-list{
        justify-content: space-between;
        gap: 0;
    }
    .menu-tel-link{
        font-size: 26px;
    }
    .modal{
        Width: 95%;
        Height: 95%; 
        Max-height: 524px;
        Overflow: scroll;
    }

}

@media screen and (min-width: 428px) {
    .container{
        width: 396px;
        margin-right: auto;
        margin-left: auto;
    }
    .hero{
        background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab.jpg);
    }
    .modal {
        width: 392px;
        height: 586px;
    }
    

}
/**----------------TAB------------------------*/

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
        /**----------HEADER----------*/
    .header {
        border-bottom: 1px solid #E7E9FC;
    }
        
    .header-navigation {
        display: flex;
        align-items: center;
        margin-right: auto;
    }
    
    .header-logo {
        margin-right: 120px;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--logo-divide-bgbtn, #4D5AE5);
    }
    
    .logo-divide {
        color: var(--header-logo-title, #2E2F42);
    }
    
    .header-list {
        display: flex;
    }
    
    .header-item:not(:last-child) {
        margin-right: 40px;
        position: relative;
    }
    
    .active-menu::after {
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        display: block;
        position: absolute;
        bottom: -1px;
        background-color: var(--link-hover, #404BBF);
    }
    
    .header-link {
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        gap: 40px;
    
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--header-logo-title, #2E2F42);
    
        transition: color var(--tupical-transition)
    }
    
    .header-contacts {
        font-style: normal;
        line-height: 1.17;
        
    }
    
    .contacts-list {
        display: flex;
        flex-direction: column;
        row-gap: 6px;
        padding-top: 24px;
        padding-bottom: 12px;
    }
    
    .header-contact-link {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--header-contacts, #434455);
        transition: color var(--tupical-transition);
    }
    
    .header-link:hover,
    .header-link:focus,
    .header-contact-link:hover,
    .header-contact-link:focus {
        color: var(--link-hover, #404BBF);
    
    }
    .modal {
        width: 408px;
    }
    .mobile-menu-btn{
        display: none;
    }
    .modal-input {
        width: 360px;
    }

    .modal-textare {
        width: 360px;
    }

/**----------HERO----------*/
    .hero {
        height: 436px;
        padding-bottom: 108px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/hero-bg-tab-2x.jpg);
        }
    }

    .hero-title{
        font-size: 56px;
        line-height: 1.07
        
    }
    .hero-btn {
        margin-top: 40px;
    }

/**----------ABOUT----------*/
    .about-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
    }
    .about-item{
        max-width: 356px;
    }
    .about-item:nth-child(-n+4){
        margin-bottom: 0;
    }
    .about-item:nth-child(-n+2){
        margin-bottom: 72px;
    }
    .about-title{
        text-align: left;
    }
    
/**----------TEAM PHOTO----------*/

    .team-list{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 64px 24px;
    }
    
    .team-item:nth-child(-n+4) {
        margin: 0;
    }
/**----------CUSTOMERS----------*/
    .customers-list {
        gap: 72px 24px;
    }

    .customers-item{
        max-width: 168px;
        width: calc((100% - 24px) / 3);
    }
/**----------FOOTER----------*/
    .footer-cont{
        padding: 96px 164px 96px 108px;
    }
    
    .footer-tab{
        display: flex;
        gap: 24px;
        
    }
    .footer-logo{
        text-align: start;
    }
    .footer-soc{
        margin-top: 0;
    }
    .footer-soc-text {
        margin-top: 0;
    }
    .form-title{
        margin: 0;
        text-align: start;

    }
    
    .footer-sub-container{
        margin-top: 72px;
        display:flex;
        flex-direction: column;
    }
    .sub-input{
        width:264px;
    }
    .footer-form{
        display: flex;
        margin-top: 16px;
    }
    .footer-button{
        padding: 0;
        margin: 0;
        margin-left: 24px;
    }
/**----------PORTFOLIO----------*/
    .filtr-list {
        justify-content: center;
        margin-bottom: 64px;
    }
    .offers-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }
    .offers-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .offers-item:nth-last-child(-n+9) {
        margin-bottom: 0;
    }
    .filrt-button {
        padding: 12px 24px;
    }
    .main-container {
        padding-bottom: 76px;
        padding-top: 64px;
    }
}
/**----------DESKTOP----------------------*/




@media screen and (max-width: 1157px) {
    .about-icon, .product {
        display: none;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
    }
/**----------HEADER----------*/
    
    .contacts-list {
        flex-direction: row;
        gap: 40px;    
    }
    .header-logo {
        margin-right: 76px;
        line-height: 1.33;
    }
    .header-contact-link{
        font-size: 16px;
        line-height: 1.5;
    }
    .contacts-list {
        padding: 0;
    }

/**----------HERO----------*/
    .hero {
        max-width: 1440px;
        height: 600px;
        padding-top: 188px;
        padding-bottom: 188px;
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/hero-bg-2x.jpg);
        }
    }
    
    .hero-btn {
        margin-top: 48px;
    }
    
        
/**----------ABOUT----------*/
    .about-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
    .about-text{
        max-width: 264px;
        font-weight: 400;
    }
    .about-item:nth-child(-n+4) {
        margin-bottom: 0;
    }
    .about-list {
        flex-wrap:nowrap;
    }
/**----------TEAM PHOTO----------*/
    .team-item{
        width: calc((100% - 24px) / 4);
    }
    .team-list {
        flex-wrap: nowrap;
    }
/**----------CUSTOMERS----------*/
    .customers-item {
        width: calc((100% - 24px) / 6);
    }
    .customers-list {
        flex-wrap: nowrap;
    }
/**----------FOOTER----------*/
    .footer-tab {
        padding: 0;
        gap: 0;
    }
    .footer-soc{
        margin-top: 0;
    }
    
    .footer-sub-container{
        padding: 0;
        margin: 0 0 0 80px;
    }
    .footer-cont{
        padding: 100px 0 100px 0;
    }
    .footer-cont {
        display: flex;
        margin: 0 auto;
        
    }
    
    .footer-cont-logo {
        margin-right: 120px;
    }
        
    .footer-form {
    display: flex;
    align-items: center;
    }
    .footer-button{
    
    display: flex;
    justify-content: center;
    align-items: center;
    }
/**----------PORTFOLIO----------*/
    .offers-list {
    row-gap: 48px;
    column-gap: 24px;
    }
    .filtr-list {
        margin-bottom: 72px;
    }
    .main-container {
        padding-bottom: 120px;
        padding-top: 96px;
    }
    .offers-item {
        margin-bottom: 0;
        flex-basis: calc((100% - 48px) / 3);
    }
}