:root{
    --header-logo-title: #2E2F42;
    --logo-divide-bgbtn: #4D5AE5;
    --link-hover: #404BBF;
    --header-contacts: #434455;
    --mainbg-title: #FFFFFF;
    --footer-logo: #F4F4FD;
    --footer-text: #E7E9FC;
    --modal-title: #8E8F99;
    --tupical-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/**----------RESET STYLES----------*/ p,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    display: block;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #434455;
    background-color: #FFFFFF;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
    
}
.no-scroll{
    overflow: hidden;
}

.sections{
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    
}
/**----------HEADER----------*/


.header {
    border-bottom: 1px solid #E7E9FC;
}

.main-nav {
    display: flex;
    align-items: center; 
    
}

.header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-logo {
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-divide-bgbtn, #4D5AE5 );
}

.logo-divide{
    color: var(--header-logo-title, #2E2F42);
}

.header-list {
    display: flex;
}

.header-item:not(:last-child) {
    margin-right: 40px;
    position: relative;
}

.active-menu::after{
content: '';
width: 100%;
height: 4px;
border-radius: 2px;
display: block;
position: absolute;
bottom: -1px;
background-color: var(--link-hover,#404BBF);
}
.header-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 40px;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--header-logo-title, #2E2F42);
    
    transition: color var(--tupical-transition)
}

.header-contacts {
    font-style: normal;
    line-height: 1.5;
    
}

.contacts-list {
    display: flex;
    
    }

.contacts-list .contact-item + .contact-item {
    margin-left: 40px;

}

.header-contact-link {
    margin-right: 40px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--header-contacts, #434455);
    transition: color var(--tupical-transition);
}

.header-link:hover,
.header-link:focus,
.header-contact-link:hover,
.header-contact-link:focus {
    color: var(--link-hover, #404BBF);

}
/**----------HERO----------*/
.hero {
    max-width: 1440px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--header-logo-title, #2E2F42);
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    
    
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--mainbg-title, #FFFFFF);
    
}

.hero-btn {
    margin-top: 48px;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
        

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--mainbg-title, #FFFFFF);
    cursor: pointer;
    background-color: var(--logo-divide-bgbtn, #4D5AE5);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color var(--tupical-transition);
}

.hero-btn:hover, .hero-btn:focus{
    background-color: var(--link-hover, #404BBF);
}

/**----------ABOUT----------*/

.about-icon{
    width: 264px;
    height: 112px;
    background-color: var(--footer-logo, #F4F4FD);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-list {
    display: flex;
    gap: 24px;
}

.hide {
    visibility: hidden;
    color: var(--mainbg-title, #FFFFFF);
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.about-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--header-logo-title, #2E2F42);
}

.about-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

/**----------WHAT ARE WE DOING----------*/
.product {
    padding-bottom: 120px;
}

.product-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: var(--header-logo-title, #2E2F42);
    margin-bottom: 72px;
    
}
.product-list {
    display: flex;
    gap: 24px;
}

.product-item {
    border: 1px solid #E7E9FC;
}

/**----------TEAM PHOTO----------*/

.team {
    background-color: var(--footer-logo, #F4F4FD);
}

.team-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    background-color:var(--footer-logo, #F4F4FD)
    color: var(--header-logo-title, #2E2F42);
}

.team-list {
    display: flex;
    gap: 24px;
}
    

.team-item {
    width: calc((100% - 24px) / 4);
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-name {
    margin-top: 32px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--header-logo-title, #2E2F42);
    background-color: var(--mainbg-title, #FFFFFF);
    text-align: center;
}

.team-position {
    margin-bottom: 8px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: var(--mainbg-title, #FFFFFF);
    text-align: center;
}

.team-soc-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.team-soc-item {
    width: 40px;
    height: 40px;
    margin-bottom: 32px;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--logo-divide-bgbtn);
    display: flex;
    align-items: center;
    justify-content: center;

    transition: box-shadow var(--tupical-transition), 
    background-color var(--tupical-transition);
}
.team-soc-icon {
    fill: var(--mainbg-title, #FFFFFF);

    transition: transition: box-shadow var(--tupical-transition), 
    background-color var(--tupical-transition);
}

.team-soc-link:focus,
.team-soc-link:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--link-hover, #404BBF);
}

.team-soc-link:focus,
.team-soc-link:hover > .team-soc-icon {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}


/**----------CUSTOMERS----------*/

.customers-sections {
    padding-top: 130px;
    padding-bottom: 120px;
}
.customers-cont {
}

.customers-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: var(--header-logo-title, #2E2F42);
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.customers-item {
    width: 168px;
    height: 88px;
    display: flex;
        
}

.customers-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #8E8F99;
    border-radius: 4px;
    color: #8E8F99;
    transition: color var(--tupical-transition),
    border-color var(--tupical-transition);
}
    
    .customers-icon {
        fill: currentColor;
}
    
    .customers-link:hover,
    .customers-link:focus {
        color: #404BBF;
        border-color: #404BBF;
    }
    

.customers-icon {}
/**----------FOOTER----------*/
.footer{
    background-color: var(--header-logo-title, #2E2F42);
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
}
.footer-cont {
    display: flex;
}

.footer-logo {
    margin-top: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-divide-bgbtn, #4D5AE5);
}

.footer-divide{
    color: var(--footer-logo, #F4F4FD);
}

.footer-text {
    width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-text, #E7E9FC);
    margin-top: 16px;
}
.footer-cont-logo{
    margin-right: 120px;
}
.footer-soc{
        
}
.footer-soc-text {
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--footer-text, #E7E9FC);
}
.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 16px;
}
    


.footer-soc-item {
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
    background-color:rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;

    transition: box-shadow var(--tupical-transition),
    background-color var(--tupical-transition);
}

.footer-soc-link:focus,
.footer-soc-link:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #31D0AA;
}    
.footer-soc-icon {
    transition: box-shadow var(--tupical-transition);
}

.footer-soc-link:focus,
.footer-soc-link:hover > .footer-soc-icon{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-left: 80px;
    margin-bottom: 16px;
}
.sub-input{
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);  
    background-color: transparent;
    padding-left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    color: #FFFFFF;
}

.sub-input::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    
}

.footer-form{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 80px;
}

.footer-button{
    min-width: 165px;
    height: 40px;
    letter-spacing: 0.04em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    background: var(--logo-divide-bgbtn, #4D5AE5);
    border-radius: 4px;
    outline: transparent;
    border: none;
    transition: background-color var(--tupical-transition);
}

.footer-button:hover,
.footer-button:focus {
    background-color: var(--link-hover, #404BBF);
}
.footer-plane{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    letter-spacing: 0.04em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plane{
    fill: var(--mainbg-title, #fff);
    margin-left: 16px;
}
.footer-sub-container{
    
}
/**----------PORTFOLIO----------*/

.filtr-list {
    
    margin-bottom: 72px;
    display: flex;
    gap: 24px;
    justify-content: center;
}
.main-container {
    padding-bottom: 120px;
    padding-top: 96px;
}
.filtr-container {
    
}

.filtr-item {
    
}

.filrt-button {
    padding: 12px 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--logo-divide-bgbtn, #4D5AE5);
    cursor: pointer;
    background-color: var(--footer-logo, #F4F4FD);
    border: 1px solid #E7E9FC;
    border-radius: 4px;

    transition: background-color var(--tupical-transition),
    color var(--tupical-transition),
    box-shadow var(--tupical-transition);
}
.filrt-button:hover,
.filrt-button:focus {
    background-color: var(--link-hover, #404BBF);
    color: var(--mainbg-title, #FFFFFF);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


.offers-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    
}

.offers-item {
    flex-basis: calc((100% - 48px) / 3);

    transition: box-shadow var(--tupical-transition);
    
}

.offers-item:hover,
.offers-item:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}


.offers-top-wrap {
    position: relative;
    overflow: hidden;
}

.offers-top-text {
    position: absolute;
    top: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-logo, #F4F4FD);
    background-color: var(--logo-divide-bgbtn, #4D5AE5);
    padding: 40px 32px 0 32px;
    height: 100%;
    
    transform: translateY(100%);
    transition: transform var(--tupical-transition);
    overflow: auto;
    
}

.offers-link {
    display: block;
    
}
.offers-link:hover .offers-top-text,
.offers-link:focus .offers-top-text {
    transform: translateY(0);
}


.offers-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--header-logo-title, #2E2F42);
    padding-left: 16px;
    margin: 0 0;
}

.offers-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--header-contacts, #434455);
    padding-left: 16px;
    margin-top: 8px;
    margin-bottom: 0;
    
}

.offers-border {
    border: 1px solid #E7E9FC;
    border-top: none;
    padding: 32px 0px;
}

.backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 300ms linear, visibility 300ms linear;
}

.modal{
    width: 408px;
    min-height: 584px;
    background-color: var(--mainbg-title, #fff);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: 300ms linear;
    padding: 24px;
    
}
.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0);
}
/**----------MODAL----------*/

.modal-close-btn{
    width: 24px;
    height: 24px;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: block;
    margin-left: auto;
    transition: background-color: var(--tupical-transition);
    position: relative;
}
.modal-close{
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.modal-close-btn:focus{
    background-color: var(--link-hover, #404BBF);
    fill: var(--mainbg-title, #fff);
}

.modal-close-btn:hover {
    background-color: var(--link-hover, #404BBF);
    fill: var(--mainbg-title, #fff);
}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--header-logo-title, #2E2F42);
    margin-top: 24px;
    margin-bottom: 16px;
}

.modal-form{
    
}
.modal-input {
    width: 360px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    padding-left: 34px;
    transition: border-color var(--tupical-transition);
    
}
.modal-input:focus {
    border-color: var(--logo-divide-bgbtn, #4D5AE5);

}
.modal-input:focus + .modal-icon{
    fill: var(--logo-divide-bgbtn, #4D5AE5);
}
.button-submit{
    width: 169px;
    height: 56px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--mainbg-title, #fff);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-top: 24px;
    border-color: transparent;
    margin: 24px auto;
    display: block;
    
}
.modal-label{
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--modal-title, #8E8F99);
    margin-bottom: 4px;
    margin-top: 8px;
}
.modal-wrap{
    position: relative;

}
.modal-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--tupical-transition);
}
.modal-textare{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    
    width: 360px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    padding: 8px 16px;
    transition: border-color var(--tupical-transition);
    resize: none;
    margin-bottom: 16px;
}
.modal-textare::placeholder{
    color: rgba(117, 117, 117, 0.5);
}

.modal-textare:focus{
    border-color: var(--logo-divide-bgbtn, #4D5AE5);
}

.privasy {
    
}
.input-check{
    transition: background-color var(--tupical-transition);
    
}
.input-check:checked + .check-text span {
    background-color: var(--link-hover, #404BBF);
    fill: var(--footer-logo, #F4F4FD);
    border-color: transparent;
}
.input-check:focus + .check-text span {
    border-color: var(--link-hover, #404BBF);
}
.check-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #757575;
    display: flex;
    align-items: center;
    
}
.privasy-link{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: var(--logo-divide-bgbtn, #4D5AE5);
    margin-left: 4px;
}

.check-text span{
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

